html {
  font-family: 'Playfair Display', serif;
}

/*navigation*/

nav {
  content: " ";
  display: block;
  clear: both;
  height: 60px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo {
  float: left;
  margin: 20px 10px;
}

nav ul {
  display: inline;
  float: right;
  margin: 20px 10px;
}

nav li {
  display: inline;
  text-transform: uppercase;
  padding: 0px 10px;
}


/*header*/

header {
  height: 425px;
  position: relative;
  display: block;
  background: url(weightloss.png);
  background-size: cover;
}

header img {
  max-width: 400px;
}

.header-background {
  height: 100%;
  display: block;
  background: rgba(242, 242, 242, 0.5);
}

header .text {
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 5% 0% 0% 10%;
  text-align: left;
}


/*introduction*/


.intro {
  text-align: center;
  padding: 5% 0%;
}
.intro h3 {
  color: #c78585;
}

.intro-div {
  width: 180px;
  border-top: solid #c78585 5px;
  margin: 10px auto;
}

/*images container*/

.images article {
  height: 200px;
}

.workout-img {
  background: url(yogamat.png);
  background-size: cover;
}

.food-img {
  background: url(food.png);
  background-size: cover;
}

.bikini-img {
  background: url(bikini.png);
  background-size: cover;
}

.images h3 {
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.featured img {
  max-width: 500px;
}

.featured {
  background: #F6F7F9;
}
h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Playfair Display', serif;
}



.container:after {
  content: "";
  display: table; 
  clear: both; 
}

.three {
  width: 33%;
  float: left;
  text-align: center;
  padding: 5% 0%;
}

section {
  display: block;
}

.small {
  width: 80%;
  margin: auto;
}

.two {
  width: 50%;
}

.two-small {
  width: 30%;
  text-align: center;
}

.two-big {
  width: 70%;
}

.left {
  float: left;
}

.right {
  float: right;
}
.three .fas, .far {
  color: #303030;
  border: solid 5px #DEB8B8;
  border-radius: 50%;
  height: 55px;
  width: 75px;
  padding-top: 20px;
}

.shop {
  background: #43c0f6;
}

.light-grey {
  background: #f2f2f2;
}

.pink {
  background: #F6E8E8;
}

.dark-pink {
  background: #DEB8B8;
}

.yellow {
  background: #f5ce28;
}

.blue {
  background: #43c0f6;
}

.white {
  background: #F6F7F9;
}
.product-image {
  height: 300px;
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
}

#image_container {
  width: 80%;
  text-align: center;
  margin: auto;
  background: white;
  border: red double 2px;
}

canvas {
  margin: auto;
  background: white;
  border: red double 2px;
}

.instructions {
  width: 80%;
  margin: auto;
}

.bus-image {
  margin-top: 20px;
}