


.button {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  background: #DEB8B8;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.button:hover {
  background: #c78585;
  color: black;
}

.pink-line {
  width: 180px;
  border-top: solid #c78585 5px;
  margin: 10px auto;
}

.light-grey {
  background: #f2f2f2;
}

.pink {
  background: #F6E8E8;
}

.dark-pink {
  background: #DEB8B8;
}

.yellow {
  background: #f5ce28;
}

.blue {
  background: #43c0f6;
}

.white {
  background: #F6F7F9;
}
/*
.product-image {
  height: 300px;
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
}



#image_container {
  width: 80%;
  text-align: center;
  margin: auto;
  background: white;
  border: red double 2px;
}

canvas {
  margin: auto;
  background: white;
  border: red double 2px;
}

.instructions {
  width: 80%;
  margin: auto;
}

.bus-image {
  margin-top: 20px;
}*/